@model LapTrinhWeb.Models.Menu
@{
    ViewBag.Title = "Menu1";
    Layout = "~/Areas/Admin/Views/Shared/LayoutGiaoDien.cshtml";
}

<div class="row">
    <div class="anh">
        <img src="~/Areas/Admin/content/images/@Model.HinhAnh" />
    </div>
    <div class="thongtin">
        <h1>@Model.TenMenu</h1><br>
        <span class="price">@Model.GiaBan</span><sup>vnđ</sup><br>
                                                              <form id="order-form" method="post" action="@Url.Action("Them", "GioHang")">
                                                                  @using (Html.BeginForm("Them", "GioHang", FormMethod.Post))
                                                                  {
                                                                      <input type="hidden" name="idMenu" value="@Model.ID">

                                                                      
                                                                          var user = (LapTrinhWeb.Models.NguoiDung)HttpContext.Current.Session["user"];

                                                                          <input type="hidden" name="idNguoiDung" value="@user.ID">
                                                                      
                                                              
                                                                      <input type="hidden" name="TenMenu" value="@Model.TenMenu">
                                                                      <input type="hidden" name="GiaBan" value="@Model.GiaBan">




                                                                      <label for="size"><b>Chọn size:</b></label>
                                                                      <select id="size" name="KichThuoc" required style="border: 1px solid black;">
                                                                          <option value="Nho">Loại Nhỏ + 0đ</option>
                                                                          <option value="Vua">Loại Vừa + 5.000đ</option>
                                                                          <option value="To">Loại To + 10.000đ</option>
                                                                      </select>
                                                                      <div>
                                                                          <h2>Topping</h2>
                                                                          <div class="topping">
                                                                              <input type="checkbox" id="macchiato" name="Topping" value="Kem Phô Mai Macchiato">
                                                                              <label for="macchiato">Kem Phô Mai Macchiato + 10.000 ₫</label><br>
                                                                              <input type="checkbox" id="tran-chau" name="Topping" value="Trân châu trắng">
                                                                              <label for="tran-chau">Trân châu trắng + 10.000 ₫</label><br>
                                                                              <input type="checkbox" id="tran" name="Topping" value="Chocolate">
                                                                              <label for="tran-chau">ChoColate + 10.000 ₫</label><br>

                                                                          </div>
                                                                      </div>

                                                                      <div>
                                                                          <table>
                                                                              <tr>

                                                                                  <label><b>Số Lượng :</b></label>
                                                                                  <input class="form-inline quantity" type="number" value="1" min="1" max="1000" name="SoLuong">

                                                                              </tr>
                                                                          </table>
                                                                      </div>
                                                                      <button type="submit" class="dathang">Thêm vào giỏ hàng</button>
                                                                  }

</div>
</div>
